/* Practitce Qs */

/* Question no 1 */

#Q1-h2 {
    color: orange;
}

#Q1-p {
    background-color:blue;
    color:white;
}

#Q1-button {
    background-color: black;
    color: white;
}